module AssemblyInfo

open System.Reflection
open System.Runtime.CompilerServices
open System.Runtime.InteropServices

[<assembly: AssemblyTitle("FMandel Mandelbrot Fractal Renderer")>]
[<assembly: AssemblyDescription("Mandelbrot fractal renderer.")>]
[<assembly: AssemblyCompany("Michael Heasell")>]
[<assembly: AssemblyProduct("FMandel")>]
[<assembly: AssemblyCopyright("Copyright © Michael Heasell 2014")>]

[<assembly: AssemblyVersion("{VERSION}")>]
do ()

let InfoVersion = "{INFOVERSION}"
